<div>
    <app-userheader></app-userheader>
</div>
<div clas="container-fluid">
    <br>
    <h3 align="center">User Home</h3>
    <div class="container">
        <div class="row">
            <div class="btn-group col-md-1" style="margin-bottom: 10px;">
                
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="border: solid;border-color: gray;">
                    Categories
                </button>
        
                <ul class="dropdown-menu">
                    <li class="dropdown-item" role="button" (click)="getProducts()">
                        All
                    </li>
                    <li class="dropdown-item" *ngFor="let pc of ProductCategory" role="button" (click)="getProductByPcId(pc.pcid)">
                        {{pc.pcname}}
                    </li>
                </ul>
        
            </div>
            <div class="search-product col-md-11">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search" style="float:right;width:250px;display: inline-flex;border: solid;border-color: gray">
            </div>
        </div>
        <br>
        <div class="row md-1" style="margin-top: 4px">
            <div class="col-md-3" *ngFor="let product of Products | filter:searchText">
                <div class="card" style="width:250px; height:95%;">
                    <img align="center" style="width:90%; height:50%;" class="card-img-top" src={{product.pimage}} alt="image not found">
                    <div class="card-body">
                        <p class="card-text" align="center"><b>{{product.pname}}</b></p>
                        <p class="card-text">{{product.pdesc}}</p>
                        <p class="card-text">{{product.pprice | currency:"INR" }}</p>
                    </div>
                    <div align="right" style="padding-right: 10px;padding-bottom: 10px;">
                        <button class="btn btn-primary" (click)="addToCart(product)" >Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>