<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" type="button" (click)=userHome()>Home</a>
                    <li class="nav-item">
                        <a class="nav-link" type="button" (click)=updateUser()>Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="button" (click)="cart()">🛒Cart</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-light"> &nbsp; 💎 : {{User.token}} &nbsp;</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" (click)=userLogout()>Logout</button>
                </form>
            </div>
        </div>
    </nav>
</div>