body {
    background: -webkit-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -o-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -moz-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  }
  


input.ng-touched
{
    border-color:red;
}
input.ng-valid 
{
    border-color:green;
}
.container {
    max-width: 500px;
    /* background-color: #f2e9f9; */
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  h1 {
    margin-left: 100px;
    margin-top: 20px;
    font-family: Lucida Console, Courier New, monospace;
    /* color: #d11db1; */
  }
  
  label {
    color: #666;
  }
  
  /* input[type="text"],
  textarea,
  input[type="number"] {
    background-color: #e1d1f1;
    border-color: #d0bbed;
  } */
  
  /* input[type="text"]:focus,
  textarea:focus,
  input[type="number"]:focus {
    border-color: #a2148e;
    box-shadow: 0 0 5px rgba(209, 29, 177, 0.5);
  } */
  
  button {
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  button:hover {
    background-color: #a2148e;
  }
  
