<app-adminheader></app-adminheader>
<div class="container">
    <h1>Add Product</h1>
    <br>
    <form #addProduct="ngForm" (ngSubmit)="add(addProduct.value)">

        <div class="form-group">
            <label for="pname">Product Name:</label>
            <input type="text" class="form-control" id="productName" name="pname" ngModel
                required minlength="2" maxlength="50" #pname="ngModel">
            <div *ngIf="pname.invalid && (pname.dirty || pname.touched)" class="alert alert-danger">
                <div *ngIf="pname.errors?.['required']">Product Name is required.</div>
                <div *ngIf="pname.errors?.['minlength']">Product Name must be at least 2 characters long.
                </div>
                <div *ngIf="pname.errors?.['maxlength']">Product Name cannot be more than 50 characters
                    long.</div>
            </div>
            <br>
        </div>

        <!-- image -->
        <div class="form-group">
            <label for="pimage">Product Image:</label>
            <input type="text" class="form-control" id="pimage" name="pimage" ngModel
                required #pimage="ngModel">
        </div> <br>

        <!-- price -->
        <div class="form-group">
            <label for="pprice">Product Price:</label>
            <input type="text" min=1 class="form-control" id="pprice" name="pprice"
                ngModel required #pprice="ngModel">
            <div *ngIf="pprice.invalid && (pprice.dirty || pprice.touched)"
                class="alert alert-danger">
                <div *ngIf="pprice.errors?.['required']">Product Price is required.</div>
            </div>
        </div> <br>

        <div class="form-group">
            <label for="pcid">Product Category:</label>
            <br>
                <select style="border-radius: 5px;height: 35px;width: 100%;" id="pcid" name="pcid" #pcid="ngModel" ngModel>
                    <option>- Select Option -</option>
                    <option class="form-control" *ngFor="let pc of ProductCategory" value={{pc.pcid}}>
                        {{pc.pcname}}
                    </option>
                </select>
        </div> <br>

        <div class="form-group">
            <label for="pdesc">Product Description:</label>
            <textarea class="form-control" id="pdesc" name="pdesc"
                ngModel required minlength="10" maxlength="500"
                #pdesc="ngModel"></textarea>
            <div *ngIf="pdesc.invalid && (pdesc.dirty || pdesc.touched)"
                class="alert alert-danger">
                <div *ngIf="pdesc.errors?.['required']">Product Description is required.</div>
                <div *ngIf="pdesc.errors?.['minlength']">Product Description must be at least 10
                    characters long.</div>
                <div *ngIf="pdesc.errors?.['maxlength']">Product Description cannot be more than
                    500 characters long.</div>
            </div>
        </div>
        <br>

        <button type="submit" class="btn btn-primary" [disabled]="addProduct.invalid">
            Add Product
        </button>
    </form>
</div>
<br><br>
<br><br>