<app-adminheader></app-adminheader>
<div class="container">

</div>

<div class="container text-center">
    <br>
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <div class="row">
        <div>
            <button type="button" class="btn btn-primary" style="margin-right: 10px;margin-bottom: 10px;" (click)=addProduct()>+ Add Product</button>
           
            <div class="btn-group" style="margin-bottom: 10px;border: solid;border-color: gray;">
                
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
    
                <ul class="dropdown-menu">
                    <li class="dropdown-item" role="button" (click)="getProducts()">
                        All
                    </li>
                    <li class="dropdown-item" *ngFor="let pc of ProductCategory" role="button" (click)="getProductByPcId(pc.pcid)">
                        {{pc.pcname}}
                    </li>
                </ul>

            </div>

        </div>
      <div class="search-product">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search" style="float:right;width:250px;display: inline-flex;border: solid;border-color: gray;">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of Products | filter:searchText">
            <td>{{product.pid}}</td>
            <td>{{product.pname}}</td>
            <td>{{product.pdesc}}</td>
            <td><img src={{product.pimage}} alt="img not found" style="height: 50px;"></td>
            <td>{{product.pprice | currency:"INR" }}</td>
            <td>
                <button type="button" class="btn btn-success mr-1" (click)=updateProduct(product)>Update</button>
                <button type="button" class="btn btn-danger" style="margin-left: 10px" (click)=deleteProduct(product.pid)>
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>  