<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- logo -->
      <img src="https://img.freepik.com/premium-vector/a2z-logo-black-ak-7_723661-58.jpg?w=2000" style="height: 25px;width: 25px; border-radius: 50px;" >
      A2Z Grocery
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <button class="btn btn-success" type="button" (click)=login()>Login</button>
      &nbsp;&nbsp;
      <button class="btn btn-primary" type="button" (click)=register()>Register</button>
    </div>
  </div>
</nav>