<app-userheader></app-userheader>
<div align="center" class="container-fluid">
    <br>
    <table class="table table-bordered table-striped">

        <thead>
            <tr style="border:5px solid rgba(128, 128, 128, 0.765)">
                <td>
                    <label>Name</label>
                    <input class="form-control" type="text" #name="ngModel" [(ngModel)]="User.name" name="name" placeholder="Enter Name" required autofocus minlength="5" maxlength="25">
                </td>
                <td>
                    <label>Email</label>
                    <input class="form-control" readonly type="text" #email="ngModel" [(ngModel)]="User.email" email="true" name="email" placeholder="Enter E-Mail Id" required maxlength="25">
                </td>
                <td>
                    <label>Address To Deliver</label>
                    <input class="form-control" type="text" #address="ngModel" [(ngModel)]="User.address"  name="address" placeholder="Enter Address To Deliver" required maxlength="100">
                </td>
                <td>
                    <label>Mobile No.</label>
                    <input class="form-control" type="text" #mobileno="ngModel" [(ngModel)]="User.mobileno" name="mobileno" placeholder="Enter Mobile No." required minlength="10" maxlength="10">
                </td>
            </tr>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of cartItems">
                <td><img src={{item.pimage}} alt="img not found" style="height: 50px;"></td>
                <td>{{item.pname}}</td>
                <td> <i>{{item.pprice | currency:"INR" }}</i> </td>
                <td>
                    <a role="button" class="btn btn-danger" (click)="deleteItem(item.cid)">Delete </a>
                </td>
            </tr>
        </tbody>

        <tfoot style="border:8px solid green">
            <tr>
                <td><h4>No. Of Items In Cart : {{cartItems.length}}</h4></td>
                <td> <h4>Total Price : {{cartItems|sum:'pprice'|currency:'INR'}}</h4> </td>
                <td> <h4>Final Total : {{sum | currency:'INR'}}</h4> </td>
                <td col-span=2><button class="btn btn-lg btn-primary" [disabled]="sum<0 || User.name=='' || User.mobileno=='' || User.mobileno<6000000000 || User.address=='' || User.email==''" (click)=checkout()> Pay : {{sum}} </button></td>
            </tr>
        </tfoot>
    </table>
</div>