<app-userheader></app-userheader><br>
<h2 align="center">Updating {{User.name}}</h2>
<div align="center" style="border:1px solid; padding : 10px" class="container">
    <form #updateUserForm="ngForm" (ngSubmit)="updateUser(updateUserForm.value)">
     
        <input hidden type="text" #id="ngModel" [(ngModel)]="User.id" name="id">
        <br>
        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Name</div>
            <div class="col-sm">
                <input type="text" class="form-control" #name="ngModel" [(ngModel)]="User.name" name="name" placeholder="Enter Name" required autofocus minlength="5" maxlength="25"> 
                <span *ngIf="name.errors?.['required'] && name.touched"> Please Enter Name </span>
                <span *ngIf="name.errors?.['minlength']"> Name must be atleast 5 characters</span>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Email</div>
            <div class="col-sm">
                <input type="text" class="form-control" #email="ngModel" [(ngModel)]="User.email" email="true" name="email" placeholder="Enter E-Mail Id" required maxlength="25"> 
                <span *ngIf="email.errors?.['required'] && email.touched"> Please Enter E-Mail Id </span>
                <span *ngIf="email.errors?.['email']"> Please Enter Valid E-Mail Id </span>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Address</div>
            <div class="col-sm">
                <input type="text" class="form-control" #address="ngModel" [(ngModel)]="User.address" required name="address" placeholder="Enter Address To Deliver"  maxlength="100">  
                <span style="margin-left: 35px;" *ngIf="address.errors?.['required'] && address.touched"> Please Enter Address</span>
                <br>
            </div>
        </div>

        <input type="text" hidden #token="ngModel" [(ngModel)]="User.token"  name="token" value=0> 
        
        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Mobile</div>
            <div class="col-sm">
                <input type="text" class="form-control" #mobileno="ngModel" [(ngModel)]="User.mobileno" name="mobileno" placeholder="Enter Mobile No." required minlength="10" maxlength="10"> 
                <span *ngIf="mobileno.errors?.['required'] && mobileno.touched"> Please Enter Mobile No.</span>
                <span *ngIf="mobileno.errors?.['minlength'] || mobileno.errors?.['maxlength']"> Please Enter a Valid Mobile No. (must be 10 digits)</span>
                <br><br>
            </div>
        </div>

        <input hidden type="password" #password="ngModel" [(ngModel)]="User.password" name="password" placeholder="Enter Password"> 
        
        <button [disabled]="!updateUserForm.valid" class="btn btn-primary" style="margin-left: 30px;width:90%">Update</button>
        <br><br>
        <div>Button will be activated when the all fileds are filled & valid</div>
    </form>
</div>
<br>