input.ng-touched
{
    border-color:red;
}
input.ng-valid 
{
    border-color:green;
}
input.ng-touched {
    border-color: red;
}

input.ng-valid {
    border-color: green;
}

.container {
    max-width: 35%;
    /* padding: 35px; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

.form-control{
    margin-left: 35px;
    width: 80%;
}