<app-adminheader></app-adminheader>
<div class="container">
    <h1 align="center">Add Category</h1>
    <br>
    <form #addPC="ngForm" (ngSubmit)="add(addPC.value)">

        <div class="form-group">
            <label for="pcname">Category Name:</label>
            <input type="text" class="form-control" id="pcname" name="pcname" ngModel
                required minlength="2" maxlength="20" #pcname="ngModel">
            <div *ngIf="pcname.invalid && (pcname.dirty || pcname.touched)" class="alert alert-danger">
                <div *ngIf="pcname.errors?.['required']">Category Name is required.</div>
                <div *ngIf="pcname.errors?.['minlength']">Category Name must be at least 2 characters long.
                </div>
                <div *ngIf="pcname.errors?.['maxlength']">Category Name can't be more than 20 characters.</div>
            </div>
            <br>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="addPC.invalid">
            Add
        </button>
    </form>
</div>
<br><br>
<br><br>