<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <!-- need to add navigate by url -->
                    <a class="nav-link active" type="button" (click)=adminDash()>Admin Dash</a> 
                <li class="nav-item">
                    <a class="nav-link" type="button" (click)=manageCat()>Manage Categories</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-primary" (click)=adminLogout()>Logout</button>
            </form>
        </div>
    </div>
</nav>