<app-mainheader></app-mainheader>
<br>
<h2 align="center">User-Registration</h2>
<div align="center" style="border:1px solid; padding : 10px" class="container">

    <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">

        <br>
        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Name</div>
            <div class="col-sm">
                <input type="text" class="form-control" #name="ngModel" ngModel name="name" placeholder="Enter Name" required autofocus
                    minlength="5" maxlength="25">
                <div style="margin-left: 35px;" *ngIf="name.errors?.['required'] && name.touched"> Please Enter Name </div>
                <div style="margin-left: 35px;" *ngIf="name.errors?.['minlength']"> Name must be atleast 5 characters</div>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Email</div>
            <div class="col-sm">
                <input type="text" class="form-control" #email="ngModel" ngModel email="true" name="email" placeholder="Enter E-Mail Id"
                    required maxlength="25">
                <div style="margin-left: 35px;" *ngIf="email.errors?.['required'] && email.touched"> Please Enter E-Mail Id </div>
                <div style="margin-left: 35px;" *ngIf="email.errors?.['email']"> Please Enter Valid E-Mail Id </div>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Address</div>
            <div class="col-sm">
                <input type="text" class="form-control" #address="ngModel" ngModel name="address" placeholder="Enter Address To Deliver" maxlength="100">
                <div style="margin-left: 35px;" *ngIf="address.errors?.['required'] && address.touched"> Please Enter Address</div>
                <br>
            </div>
        </div>

        <input type="text" hidden #token="ngModel" ngModel name="token" value=0>

        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Mobile</div>
            <div class="col-sm">
                <input type="text" class="form-control" #mobileno="ngModel" ngModel name="mobileno" placeholder="Enter Mobile No." required
                    minlength="10" maxlength="10">
                <div style="margin-left: 35px;" *ngIf="mobileno.errors?.['required'] && mobileno.touched"> Please Enter Mobile No.</div>
                <div style="margin-left: 35px;" *ngIf="mobileno.errors?.['minlength'] || mobileno.errors?.['maxlength']"> Please Enter a Valid
                    Mobile No. (must be 10 digits)</div>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1" style="margin-left: 25px;">Password</div>
            <div class="col-sm">
                <input type="password" class="form-control" #password="ngModel" ngModel name="password" placeholder="Enter Password" required
                    maxlength="25">
                    <div style="margin-left: 35px;" *ngIf="password.errors?.['required'] && password.touched"> Please Enter Password </div>
                    <br>
                </div>
        </div>

        <div class="row">
            <button [disabled]="!registerForm.valid" class="btn btn-primary" style="margin-left: 30px;width:87%">Register</button>
            <div>Button will be activated when the all fileds are filled & valid</div><br>
        </div>
    </form>
    <div>Existing User ? <button (click)=login() style="border: none ;background-color: white;color:blue">login Here</button></div>
</div>
<br>