<app-adminheader></app-adminheader>
<div class="container">
    <br>
    <h1 align="center">Product Category List</h1>
    <br>
    <div>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;margin-bottom: 10px;" (click)=addProductCat()>+ Add Category</button>
    </div>
    <div class="search-product">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search" style="float:right;width:250px;display: inline-flex;border: solid;border-color: gray;">
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pc of ProductCategory | filter:searchText">
                <td>{{pc.pcid}}</td>
                <td>{{pc.pcname}}</td>
                <td>
                    <a role="button" class="btn btn-success" (click)="updateProductCat(pc)">
                        Update
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
