<app-mainheader></app-mainheader>
<br><h2 align="center">Login</h2>
<div class="container" style="border: 1px solid black;">
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)" novalidate align="center">
    
    <!-- <label>Enter Email Id</label> -->
    <span *ngIf="emailId.errors?.['required'] && emailId.touched"> Please Enter Email Id </span>
    <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"> Please Enter atleast 5 characters in Email Id </div>
    <input type="text" placeholder="Enter Email ID" class="form-control" #emailId="ngModel" name="emailId" ngModel required autofocus minlength="5" maxlength="25"><br>

    <!-- <label>Enter Password</label><br> -->
    <div *ngIf="password.errors?.['required'] && password.touched"> Please Enter Password </div>
    <div *ngIf="password.errors?.['minlength'] && password.touched"> Please Enter atleast 5 characters in Password</div>
    <input type="password" placeholder="Enter Password" class="form-control" #password="ngModel" name="password" ngModel required minlength="5" maxlength="15"><br>
    
    <!-- <label>Enter Captcha</label><br> -->
    <div *ngIf="typedcapt.errors?.['required'] && typedcapt.touched"> Please Enter Captcha </div>
    <div *ngIf="typedcapt.errors?.['minlength']"> Please Enter Captcha Completely</div>
    <input type="text" placeholder="Enter Captcha" class="form-control" ngModel #typedcapt="ngModel" name="typedcapt" ngModel required autofocus minlength="6" maxlength="6" /><br>
    <input type="text" class="form-control" readonly [value]=final name="captcha" />
    <br>

    <button [disabled]="!loginForm.valid" class="btn btn-success">Login</button>
    <br><br>
    <span>New User ? </span><button (click)=register() style="border: none ;background-color: white;color:blue">Register Here</button>
  
    <asl-google-signin-button hidden *ngIf="!user"><button align="center" style="width: 80%;" class="btn btn-Primary">signin</button></asl-google-signin-button>
    <div *ngIf="user">
      <img src="{{ user.photoUrl }}">
      <div>
        <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </form>
</div>
<br>