input.ng-touched {
    border-color: red;
  }
  
  input.ng-valid {
    border-color: green;
  }
  
  .container {
    max-width: 400px;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .form-control{
    width: 100%;
  }
  
  h1 {
    margin-left: 100px;
    margin-top: 20px;
    font-family: Lucida Console, Courier New, monospace;
  }
  
  label {
    color: #666;
  }