<footer class="bg-dark text-center text-white">
    <div class="p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">facebook</a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">twitter</a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">instagram</a>
            
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:abcdkgf993@gmail.com" target="_blank">Email</a>
      </section>
        <!-- Section: Social media -->
        <div class="container-fluid">
            We provide fresh and quality products sourced from local farmers and suppliers.<br>
            Our user-friendly website offers a wide variety of products and fast delivery.<br>
            Our dedicated customer service team is always here to help.
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: A2Z Grocery
    </div>
    <!-- Copyright -->
</footer>