<app-mainheader></app-mainheader>
<marquee><h4>Login to view and purchase the products</h4></marquee>
<div class="container-fluid" align="center">

    <div style="width: 100%; height: 100%; text-align:center;margin:0; padding:0;">
        <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="true"
          [autoSlide]="1"
          [imageSize]="{width: '33%', height:'50%'}"
          slideImage="1">
        </ng-image-slider>
    </div>
</div>
<div class="container my-4">
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Free Delivery On All Orders</strong>
          <h3 class="mb-0">No Minimum Purchase</h3>
          <div class="mb-1 text-muted">A2Z Grocery</div>
          <p class="card-text mb-auto">
            Stay home and order whatever you want from anywhere anytime.
          </p>

        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" 
            src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202108/e7-sixteen_nine.jpg" alt="pic">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">1% Cash Backs On Every Purchase</strong>
          <h3 class="mb-0">Save ₹Money</h3>
          <div class="mb-1 text-muted">A2Z Grocery</div>
          <p class="mb-auto">
            Earned cashbacks are discounted on you next order.
          </p>

        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250"
            src="https://img.freepik.com/free-vector/save-money-hand-put-coin-glass-put_24877-59997.jpg" alt="pic">

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer> 
